<script type="text/x-handlebars">
    <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      <li>{{#link-to 'posts'}}Posts{{/link-to}}</li>
        <li>{{#link-to 'about'}}About{{/link-to}}</li>
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{{outlet}}

  </script>

  <script type='text/x-handlebars' id='about'>
  <div class='about'>
    <p>about this blog</p>
  </div>
  </script>

  <script type="text/x-handlebars" id="posts">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <table class='table'>
            <thead>
              <tr><th>Recent Posts</th></tr>
            </thead>

            <tbody>
              {{#each model}}
                <tr>
                  <td>
                    {{#link-to 'post' this}}{{title}} <small class='muted'>by {{author.name}}</small>{{/link-to}}
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>

        <div class="col-md-9">
          {{outlet}}
        </div>
      </div>
    </div>
  </script>

  <script type="text/x-handlebars" id="post">
  {{#if isEditing}}
    {{partial 'post/edit'}}
    <button {{action 'doneEditing'}}>Done</button>
  {{else}}
    <button {{action 'edit'}}>Edit</button>
  {{/if}}

    <h1>{{title}}</h1>
    <h2>{{author.name}} <small class='muted'>{{format-date date}}</small></h2>
    <hr>
    <div class='intro'> {{excerpt}}</div>
    <div class='below-the-fold'>
    {{body}}
    </div>
  </script>

  <script type="text/x-handlebars" id="post/_edit">
  <p>{{input type="text" value=title}}</p>
  <p>{{input type="text" value=excerpt}}</p>
  <p>{{input type="text" value=body}}</p>
  </script>



